body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #ffffff;
    overflow-x: hidden;
    background: url(../../assets/img/photo-04.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}